.balance-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
}

.balance-container > div {
    flex-grow: 1;
    flex-basis: 0;
}

.chart {
    display: block;
    width: 100%;
}

.legend-container md-card {
    height: 30px;
    padding-top: 5px;
}

.balance-card {
    display: flex;
    flex-direction: row;
}

.balance-card .user-name {
    flex-grow: 3
}

.balance-card .user-balance {
    flex-grow: 1
}