<div class="balance-container">

    <div class="chart-container">
        <base-chart class="chart"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"></base-chart>
    </div>
  <div class="legend-container">
    <md-card *ngFor="let user of balance.users">
        <div class="balance-card">
            <span class="user-name">{{user.name}}</span>
            <span class="user-balance">CHF {{user.balance}}</span>
        </div>
    </md-card>
  </div>
  
</div>